/IdeaProjects/
/.android/
/.anes/
/.arthas/
/.bundle/
/.cache/
/.cups/
/.docker/
/.dubbo/
/.eclipse/
/.gem/
/.gradle/
/.idea/
/.jrebel/
/.lemminx/
/.m2/
/.mono/
/.mume/
/.nbprofiler/
/.node-gyp/
/.npm/
/.nutstore/
/nvm/
/.oracle_jre_usage/
/.pylint/d/
/.redhat/
/.ShadowsocksX-NG/
/.snipaste/
/.sonarlint/
/.SwitchHosts/
/Applications/
/Applications (Parallels)/
/Public/
/Movies/
/Music/
/Parallels/
/Pictures/
/Desktop/
/Documents/
/Downloads/
/Library/
/.vscode/
/.vue-cli-ui/
/.vue-templates/
/.wns/
/.xrebel/
/.zsh_sessions/
/.swt/
/.tldr/
/.tldrc/
/.tooling/
/.translation/
/.Trash/
/.CFUserTextEncoding
/get-pip.py
/ppEnv.json
/.zcompdump-huwenfeng-5.8
/.zsh_history
/.pylint.d/
/.bash_history
/.node_repl_history
/.notable.json
/.npmrc
/.nrmrc
/.nuuid.ini
/.python_history
/.wget-hsts
/.yarnrc
/.vuerc
/.codota-id
/.dbshell
/.gitflow_export
/.viminfo
/.antigen/bundles/zsh-users/zsh-autosuggestions/
/.antigen/bundles/zsh-users/zsh-syntax-highlighting/
/.antigen/bundles/robbyrussell/oh-my-zsh/
.vim_mru_files
/eclipse/
/.tabnine/
/.antigen/.zcompdump
/.antigen/.zcompdump.zwc
/.antigen/debug.log
/.antigen/init.zsh.zwc
/.ssh/id_rsa*
/.ssh/known_hosts
/.nvm/
/.vim/
/.sogouinput/
*.json
/VSCodeProects/
/oradiag_huwenfeng/
/DG/
/.mvn/
/.npminstall_tarball/
/logs/
/docker/
/node_modules/
/node_modules/n/
/nacos/
 .config/pip/
.lesshst
.swiftpm/
.zcompdump-huwenfeng*
/AndroidStudioProjects/
/DataGripProjects/
New_Dark.icls
/PycharmProjects/
/Sunlogin/
.config/yarn/global/node_modules
